.popUp {
  opacity: 0;
  transform: scale(0);
  animation: popUpAnimation .2s forwards;
}

@keyframes popUpAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.appear {
  opacity: 0;
  animation: appearAnimation .4s forwards;
}

@keyframes appearAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blink {
  opacity: 0;
  animation: blinkAnimation .75s both;
}

@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}